.record
    line-height 36px
    // width 15%
    margin 4px
    background #fff
    border-radius 48px
    padding 2px
    color #eee
    flex 1 1 25%

.item-container
    width 100%
    display flex

.item
    flex 1
    &.time
        text-align: left  
    &.name
        flex 2
    &.tag 
        background:#54545442;
        border-radius: 40px;
        font-size: 12px;
        line-height: 12px;
        height: 20px;
        align-self: center;
        line-height: 20px;

.container
    display flex
    flex-direction row
    flex-wrap wrap
    // max-height 150vh
    text-align center
    align-content center

.failed
    background #FF9800

.passed
    background #4CAF50

.zero
    background #FF5252

.avatar
    width 36px
    height 36px
    margin-right 8px
    border-radius 50%
    background white
    // border 1px #ffffff50 solid

.center
    text-align: center

